<div class="row">
    <div class="col-lg-12 text-center">
        <h1>The New York Times Best Sellers</h1>
        <p class="lead"> browsable UI of the NY Times Bestsellers, using the following endpoint:</p>

        <p> http://api.nytimes.com/svc/books/v3/lists/overview.jsonp?callback=foobar&api-key=[your-api-key]</p>
        <hr>
        <h5>Developed by <strong>Hamid Hoseini</strong></h5>

        <ul class="list-unstyled">
            <li>Bootstrap v3.3.7</li>
            <li>Angular v1.6.1</li>
            <li>Angular-ui-router v1.0.3</li>
        </ul>
        <h1>
            {{title}}
        </h1>
    </div>

</div>